body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

* {
  box-sizing: border-box;
}

.blueColor {
  color: #5BA6B6;
}

.radiobutton {
  visibility: hidden;
}

.slidedown {         
  height: 100%!important;
}